.sidebar {
  width: 200px;
  background-color: #f0f4f8; 
  padding: 20px;
  border-right: 1px solid #000000;
}

.header {
  background-color: #808080;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #000000;
}

.left-section {
  display: flex;
  align-items: center;
}

.header-title {
  color: #000000;
}

.add-button,
.editButton,
.deleteButton {
  position: relative;
  padding: 8px 16px;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.add-button::before,
.editButton::before,
.deleteButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  pointer-events: none;
}

.add-button:hover::before,
.add-button:focus::before,
.editButton:hover::before,
.editButton:focus::before,
.deleteButton:hover::before,
.deleteButton:focus::before {
  border-color: #333;
}


.cms-logo {
  margin-right: auto; 
  color: #fff;
  width: 100px;
  height: 100px;
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
}

.cms-logo-image {
  height: 60%;
  width: auto; 
}

.right-section {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  margin-right: 10px;
}

.notification-icon a {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: inherit; 
}

.sidebar-header {
  font-size: 2.5rem; 
  font-weight: 700; 
  color: #4b5563;
  margin-bottom: 20px; 
}

.sidebar-menu {
  margin-top: 20px;
}

.menu-item {
  color: #4b5563;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease; 
}

.menu-item:hover {
  color: #1f2937;
  transform: translateX(5px);
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header-user {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 1rem;
  margin-right: 10px;
}

.add-button {
  background-color: #f3f4f6;
  padding: 8px;
  border-radius: 50%;
  color: #4b5563;
  margin-right: 10px; 
  float: right;
}

.add-button:hover {
  background-color: #edf2f7;
}

.student-table {
  margin-top: 1.5rem;
  text-align: center; 
}

.table {
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #0c0c0c;
  padding: 0.5rem;
}

.status {
  display: block;
  justify-content: center;
  align-items: center;
  width: 1.2rem; 
  height: 1.2rem; 
  border-radius: 70%;
  margin: auto;
}

.active {
  background-color: #68d391;
}

.inactive {
  background-color: #718096;
}

.pagination {
  margin-top: 1rem;
}

.pagination-button {
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
  color: #4b5563;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #edf2f7;
}

.pagination-button:focus {
  outline: none;
}

.hidden {
  visibility: hidden;
}

#addStudentModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 32rem; 
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  color: #e53e3e;
}

@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }
  
  .header {
    padding: 10px 20px; 
  }
  
  .header-title {
    font-size: 1.2rem; 
  }
  
  .right-section {
    margin-right: 20px; 
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #ccc;
  color: #333;
  border: none;
  margin-right: 10px;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
  border: none;
  margin-right: 10px;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #2779bd;
}

#editStudentModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

#deleteConfirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

#confirmDeleteButton,
#cancelEditStudentButton,
#cancelDeleteButton {
  margin-right: 10px; 
}

.editButton, .deleteButton {
  margin-right: 2px;
  margin-left: 2px;
}

.notification-icon-img {
  width: 30px; 
  height: auto; 
}

.right-section {
  display: flex;
  align-items: center;
}

.notification-link {
  margin-right: 10px; 
}

.user-profile-link {
  display: flex;
  align-items: center;
}

.user-name {
  margin-left: 2px; 
}

.user-profile {
  position: relative;
}

.profile-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 0;
  width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  pointer-events: none;
  z-index: 999;
}

.profile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu li {
  padding: 8px 10px;
}

.profile-menu li:hover {
  background-color: #f0f0f0;
}

.user-profile:hover .profile-menu {
  display: block; 
  opacity: 1;
  pointer-events: auto;
}

.profile-menu:hover {
  display: block;
}

.notification-link {
  position: relative;
  display: inline-block;
}

.notification-icon-img {
  width: 28px; 
  border-left: 15px;
  margin-right: 5px;
}

.badge {
  position: absolute;
  top: -5px;
  right: 4px;
  padding: 0 5px;
  font-size: 12px; 
  line-height: 16px;
  height: 16px; 
  background: #EF476F;
  color: #FFF;
  border-radius: 8px;
  white-space: nowrap;
  animation: pulse 1.5s ease infinite alternate;
}

.notification-link.new .badge {
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    background-color: #EF476F; 
  }

  50% {
    background-color: transparent; 
  }

  100% {
    background-color: #EF476F;
  }
}
